@use "../../assets/styles/variables.scss";

.rate {
	color: variables.$color-dark;
	position: relative;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	padding: 30px 20px;

	@media (max-width: 1800px) {
		padding: 21px 14px;
	}

	@media (max-width: 1336px) {
		padding: 18px 12px;
	}
}

.rate__landing_page {
	width: 880px;
	height: 544px;
	background-image: url("../../assets/images/price_blocks/price_block_1.webp");
	transform: rotate(2.5deg);
	transform-origin: bottom left;

	@media (max-width: 1800px) {
		width: 598px;
		height: 399px;
		transform: rotate(-2.5deg);
	}

	@media (max-width: 1336px) {
		width: 333px;
		height: 399px;
		background-image: url("../../assets/images/price_blocks/price_block_mobile_1.png");
		transform: rotate(-1.6deg);
		margin-top: 20px;
	}
}

.rate__website {
	width: 880px;
	height: 588px;
	background-image: url("../../assets/images/price_blocks/price_block_2.webp");
	transform: rotate(-2.5deg);
	transform-origin: bottom right;
	margin-top: 10px;

	@media (max-width: 1800px) {
		width: 598px;
		height: 399px;
		background-image: url("../../assets/images/price_blocks/price_block_1.webp");
		transform: rotate(2.5deg);
		margin-top: 5px;
	}

	@media (max-width: 1336px) {
		width: 333px;
		height: 440px;
		background-image: url("../../assets/images/price_blocks/price_block_mobile_2.png");
		transform: rotate(1.6deg);
		margin-top: 20px;
	}
}

.title {
	font-family: variables.$font-family-abel;
	font-weight: variables.$regular;
	font-size: 30px;
	line-height: 35px;
	text-transform: uppercase;
	text-align: center;

	@media (max-width: 1800px) {
		font-size: 20px;
		line-height: 24px;
	}

	@media (max-width: 1336px) {
		line-height: 28px;
	}
}

.scopes {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 60px;

	@media (max-width: 1800px) {
		margin-top: 40px;
	}

	@media (max-width: 1336px) {
		flex-direction: column;
		margin-top: 26px;
	}
}

.scope {
	width: 410px;
	height: 34px;
	display: flex;
	align-items: center;
	font-family: variables.$font-family-abel;
	font-weight: variables.$regular;
	font-size: 20px;
	line-height: 120%;
	border-radius: 84px;
	border: 1px solid variables.$color-dark;
	position: relative;
	padding-left: 20px;

	@media (max-width: 1800px) {
		width: 282px;
		height: 24px;
		font-size: 14px;
	}

	@media (max-width: 1336px) {
		width: 306px;
		height: 30px;
		margin-top: 10px;
	}
}

.scope__name {
	color: variables.$color-dark;
}

.scope__time {
	cursor: help;
}

.scope__count {
	min-width: 100px;
	position: absolute;
	bottom: -1px;
	right: -1px;
	color: white;
	text-align: center;
	border-radius: 84px;
	background-color: variables.$color-dark;
	padding: 5px 20px;

	@media (max-width: 1800px) {
		min-width: 88px;
		padding: 3px 14px;
	}

	@media (max-width: 1336px) {
		min-width: 100px;
		padding: 6px 20px;
	}
}

.price__block {
	width: 253px;
	height: 55px;
	position: relative;
	margin: 40px auto;

	@media (max-width: 1800px) {
		width: 175px;
		height: 37px;
		margin: 28px auto;
	}

	@media (max-width: 1336px) {
		width: 161px;
		height: 32px;
		margin: 18px auto;
	}
}

.price__count {
	width: 100%;
	font-family: variables.$font-family-abel;
	font-weight: variables.$regular;
	color: variables.$color-accent;
	font-size: 30px;
	line-height: 35px;
	text-transform: uppercase;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);

	@media (max-width: 1800px) {
		font-size: 20px;
		line-height: 24px;
	}

	@media (max-width: 1336px) {
		font-size: 16px;
		line-height: 27px;
	}
}

.price__stroke_panel {
	width: 100%;
	height: 100%;
}

.description {
	font-family: variables.$font-family-abel;
	font-weight: variables.$regular;
	color: variables.$color-dark;
	font-size: 20px;
	line-height: 120%;

	@media (max-width: 1800px) {
		font-size: 14px;
	}
}

.correction {
	font-family: variables.$font-family-abel;
	font-weight: variables.$regular;
	color: variables.$color-dark;
	font-size: 20px;
	line-height: 120%;
	opacity: 0.5;
	position: absolute;
	bottom: 130px;

	@media (max-width: 1800px) {
		font-size: 14px;
		bottom: 100px;
	}

	@media (max-width: 1336px) {
		display: none;
	}
}

.correction__mobile {
	display: none;

	@media (max-width: 1336px) {
		display: block;
		bottom: 75px;
	}
}

.link__block {
	width: 834px;
	height: 73px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	bottom: 30px;
	left: 50%;
	transform: translateX(-50%);

	&:hover .link__button {
		background-color: variables.$color-accent;
	}

	&:hover .link__text {
		background-image: url("../../assets/images/price_application_backgrounds/price_application_background-hover.svg");
	}

	@media (max-width: 1800px) {
		width: 570px;
		height: 43px;
		bottom: 35px;

		&:hover .link__text {
			background-image: url("../../assets/images/price_application_backgrounds/price_application_background_tablet_hover.svg");
		}
	}

	@media (max-width: 1336px) {
		width: 310px;
		height: 37px;
		bottom: 20px;

		&:hover .link__text {
			background-image: url("../../assets/images/price_application_backgrounds/price_application_background_mobile-hover.svg");
		}
	}
}

.link__block_negative_rotate {

	&:hover .link__button {
		transform: rotate(132.5deg);
	}
}

.link__block_positive_rotate {

	&:hover .link__button {
		transform: rotate(135.5deg);
	}
}

.link__text {
	width: 769px;
	height: 73px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-family: variables.$font-family-abel;
	font-weight: variables.$regular;
	color: white;
	font-size: 30px;
	line-height: 100%;
	text-transform: lowercase;
	transition: all .2s ease-in-out;

	background-image: url("../../assets/images/price_application_backgrounds/price_application_background.svg");
	background-position: center;
	background-size: cover;
	padding-left: 35px;

	@media (max-width: 1800px) {
		width: 532px;
		height: 43px;
		font-size: 20px;
		background-image: url("../../assets/images/price_application_backgrounds/price_application_background_tablet.svg");
	}

	@media (max-width: 1336px) {
		width: 276px;
		height: 37px;
		font-size: 20px;
		background-image: url("../../assets/images/price_application_backgrounds/price_application_background_mobile.svg");
		padding-left: 20px;
		padding-bottom: 3px;
	}
}

.link__button {
	width: 73px;
	height: 73px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: variables.$color-dark;
	border-radius: 100%;
	transition: all .2s ease-in-out;

	@media (max-width: 1800px) {
		width: 43px;
		height: 43px;
	}

	@media (max-width: 1336px) {
		width: 37px;
		height: 37px;
	}
}

.link__button_negative_rotate {
	transform: rotate(-2.5deg);
}

.link__button_positive_rotate {
	transform: rotate(2.5deg);
}

.link__arrow {
	width: 31px;
	height: 31px;

	@media (max-width: 1800px) {
		width: 18px;
		height: 18px;
	}

	@media (max-width: 1336px) {
		width: 15px;
		height: 15px;
	}
}