@use "../../assets/styles/variables.scss";

.rate {
	color: variables.$color-dark;
	position: relative;
	padding: 30px 20px;
}

.rate__landing_page {
	width: 880px;
	height: 544px;
	background-image: url("../../assets/images/price_block_1.webp");
	transform: rotate(2.5deg);
	transform-origin: bottom left;
}

.rate__website {
	width: 880px;
	height: 588px;
	background-image: url("../../assets/images/price_block_2.webp");
	transform: rotate(-2.5deg);
	transform-origin: bottom right;
	margin-top: 10px;
}

.title {
	font-family: variables.$font-family-abel;
	font-weight: variables.$regular;
	font-size: 30px;
	line-height: 35px;
	text-transform: uppercase;
	text-align: center;
}

.scopes {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 60px;
}

.scope {
	width: 410px;
	height: 34px;
	display: flex;
	align-items: center;
	font-family: variables.$font-family-abel;
	font-weight: variables.$regular;
	font-size: 20px;
	line-height: 120%;
	border-radius: 84px;
	border: 1px solid variables.$color-dark;
	position: relative;
	padding-left: 20px;
}

.scope__name {
	color: variables.$color-dark;
}

.scope__count {
	min-width: 100px;
	position: absolute;
	bottom: -1px;
	right: -1px;
	color: white;
	text-align: center;
	border-radius: 84px;
	background-color: variables.$color-dark;
	padding: 5px 20px;
}

.price__block {
	width: 253px;
	height: 55px;
	position: relative;
	margin: 40px auto;
}

.price__count {
	width: 100%;
	font-family: variables.$font-family-abel;
	font-weight: variables.$regular;
	color: variables.$color-accent;
	font-size: 30px;
	line-height: 35px;
	position: absolute;
	text-align: center;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}

.price__stroke_panel {
	width: 100%;
	height: 100%;
}

.description {
	font-family: variables.$font-family-abel;
	font-weight: variables.$regular;
	color: variables.$color-dark;
	font-size: 20px;
	line-height: 120%;
}

.correction {
	font-family: variables.$font-family-abel;
	font-weight: variables.$regular;
	color: variables.$color-dark;
	font-size: 20px;
	line-height: 120%;
	opacity: 0.5;
	position: absolute;
	bottom: 130px;
}

.link__block {
	width: 834px;
	height: 73px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	bottom: 30px;
	left: 50%;
	transform: translateX(-50%);

	&:hover .link__button {
		background-color: variables.$color-accent;
	}

	&:hover .link__text {
		background-image: url("../../assets/images/price_application_background-hover.svg");
	}
}

.link__block_negative_rotate {

	&:hover .link__button {
		transform: rotate(132.5deg);
	}
}

.link__block_positive_rotate {

	&:hover .link__button {
		transform: rotate(135.5deg);
	}
}

.link__text {
	width: 769px;
	height: 73px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-family: variables.$font-family-abel;
	font-weight: variables.$regular;
	color: white;
	font-size: 30px;
	line-height: 100%;
	text-transform: lowercase;
	transition: all .2s ease-in-out;

	background-image: url("../../assets/images/price_application_background.svg");
	padding-left: 35px;
}

.link__button {
	width: 73px;
	height: 73px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: variables.$color-dark;
	border-radius: 100%;
	transition: all .2s ease-in-out;
}

.link__button_negative_rotate {
	transform: rotate(-2.5deg);
}

.link__button_positive_rotate {
	transform: rotate(2.5deg);
}

.link__arrow {
	width: 31px;
	height: 31px;
}