@use "../../assets/styles/variables.scss";

.case {
	width: 573px;
	height: 776px;
	border-radius: 30px;
	border: solid 3px variables.$color-dark;
	background-position: center;
	background-repeat: no-repeat;
	padding-left: 30px;
	padding-top: 30px;
	padding-right: 50px;
	transition: all .2s ease-in-out;

	&:hover {
		transform: scale(1.01);
	}

	&:hover .title{
		font-size: 34px;
	}

	@media (max-width: 1800px) {
		width: 389px;
		height: 526px;
		border: solid 2px variables.$color-dark;
		border-radius: 20px;
		padding: 25px 15px;

		&:hover .title{
			font-size: 22px;
		}
	}

	@media (max-width: 1336px) {
		width: 330px;
		height: 440px;
		border-radius: 14px;
		padding: 18px 14px;
		margin-bottom: 20px;
	}
}

.type {
	font-family: variables.$font-family-abel;
	font-weight: variables.$regular;
	font-size: 20px;
	line-height: 120%;
	margin-bottom: 5px;

	@media (max-width: 1800px) {
		font-size: 14px;
	}
}

.title {
	font-family: variables.$font-family-abel;
	font-weight: variables.$regular;
	font-size: 30px;
	line-height: 100%;
	transition: all .2s ease-in-out;

	@media (max-width: 1800px) {
		font-size: 20px;
	}
}