@use "../../assets/styles/variables.scss";

.block {
	margin-top: 90px;
}

.content {

}

.cases {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 30px;

	@media (max-width: 1336px) {
		flex-direction: column;
	}
}

.link {
	width: 573px;
	height: 776px;
	position: relative;
	border-radius: 30px;
	background-color: variables.$color-dark;
	padding: 40px 20px;
	transition: all .2s ease-in-out;

	&:hover {
		transform: scale(1.025);
	}

	@media (max-width: 1800px) {
		width: 389px;
		height: 526px;
		border-radius: 20px;
		padding: 25px 15px;
	}

	@media (max-width: 1336px) {
		width: 330px;
		height: 440px;
		border-radius: 14px;
		padding: 18px 14px;
	}
}

.link__title {
	font-family: variables.$font-family-abel;
	font-weight: variables.$regular;
	color: white;
	font-size: 50px;
	line-height: 120%;
	text-transform: uppercase;

	@media (max-width: 1800px) {
		font-size: 40px;
	}
}

.link__image {
	width: 554px;
	height: 163px;
	position: absolute;
	top: 50%;
	left: -20px;
	transform: translateY(-80%);

	@media (max-width: 1800px) {
		width: 330px;
		height: 110px;
		top: 60%;
	}

	@media (max-width: 1336px) {
		width: 280px;
		height: 100px;
	}
}

.link__button {
	width: 533px;
	height: 73px;
	position: absolute;
	bottom: 40px;
	left: 50%;
	transform: translateX(-50%);

	@media (max-width: 1800px) {
		width: 365px;
		height: 50px;
		bottom: 25px;
	}

	@media (max-width: 1336px) {
		width: 302px;
		height: 42px;
		bottom: 18px;
	}
}