@use "../../assets/styles/variables.scss";

.case {
	width: 573px;
	height: 776px;
	border-radius: 30px;
	border: solid 3px variables.$color-dark;
	background-position: center;
	background-repeat: no-repeat;
	padding-left: 30px;
	padding-top: 30px;
	padding-right: 50px;
	transition: all .2s ease-in-out;

	&:hover {
		transform: scale(1.01);
	}

	&:hover .title{
		font-size: 34px;
	}
}

.type {
	font-family: variables.$font-family-abel;
	font-weight: variables.$regular;
	font-size: 20px;
	line-height: 120%;
	margin-bottom: 5px;
}

.title {
	font-family: variables.$font-family-abel;
	font-weight: variables.$regular;
	font-size: 30px;
	line-height: 100%;
	transition: all .2s ease-in-out;
}