@use "../../../../assets/styles/variables.scss";

.point {
	font-family: variables.$font-family-primary;
	font-weight: variables.$regular;
	color: variables.$color-dark;
	font-size: 30px;
	line-height: 35px;
	text-transform: uppercase;
	margin-top: 60px;
	margin-bottom: 20px;

	@media (max-width: 1800px) {
		font-size: 20px;
		line-height: 24px;
		margin-top: 40px;
	}

	@media (max-width: 1336px) {
		font-size: 20px;
		line-height: 27px;
	}
}

.point_number {
	margin-right: 30px;

	@media (max-width: 1800px) {
		margin-right: 20px;
	}

	@media (max-width: 1336px) {
		margin-right: 15px;
	}
}