@use "../../assets/styles/variables.scss";

.block {
	margin-top: 100px;
}

.content {
	font-family: variables.$font-family-abel;
	color: variables.$color-dark;
	line-height: 120%;
}

.services {
	height: 72px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 60px;
	user-select: none;
}

.service {
	width: 568px;
	position: relative;
	cursor: pointer;

	&:hover .service__text {
		background-image: url("../../assets/images/link_additional_services-hover.svg");
	}
}

.service_active {
	.service__text {
		background-image: url("../../assets/images/link_additional_services-hover.svg");
	}

	.service__link {
		transform: rotate(-45deg);
	}
}

.service__text {
	width: 504px;
	height: 72px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-family: variables.$font-family-cygre;
	font-weight: variables.$bold;
	color: white;
	font-size: 30px;
	line-height: 35px;
	text-transform: uppercase;
	background-image: url("../../assets/images/link_additional_services.svg");
	padding-left: 40px;
	transition: all .2s ease-in-out;
}

.service__link {
	width: 72px;
	height: 72px;
	border-radius: 100%;
	background-color: variables.$color-accent;
	position: absolute;
	bottom: 0;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: rotate(135deg);
	transition: all .2s ease-in-out;
}

.service__link_arrow {
	width: 31px;
	height: 31px;
}


/* Info */
.info {
	display: none;
	justify-content: space-between;
	align-items: center;
	border-radius: 30px;
	background-color: variables.$color-dark;
	padding: 30px;
	margin-top: 30px;
}

.info_active {
	display: flex;
}

.info__content {
	width: 1309px;
}

.info__description {
	font-family: variables.$font-family-cygre;
	font-weight: variables.$regular;
	color: white;
	font-size: 30px;
	line-height: 100%;
	white-space: pre-line;
	margin-bottom: 40px;
}

.info__tags {
	display: flex;
	align-items: center;
	margin-bottom: 40px;
}

.info__tag {
	height: 34px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: variables.$font-family-cygre;
	font-weight: variables.$regular;
	color: variables.$color-dark;
	font-size: 18px;
	line-height: 27px;
	border-radius: 84px;
	background-color: white;
	padding: 10px 30px;
}

.info__tag:not(:first-of-type) {
	margin-left: 30px;
}

.info__link {
	width: 604px;
	position: relative;

	&:hover .info__link_button {
		transform: rotate(135deg);
	}
}

.info__link_text {
	width: 539px;
	height: 73px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-family: variables.$font-family-abel;
	font-weight: variables.$regular;
	color: white;
	font-size: 30px;
	line-height: 100%;
	background-image: url("../../assets/images/service_application_background.svg");
	padding-left: 60px;
}

.info__link_button {
	width: 73px;
	height: 73px;
	border-radius: 100%;
	border: 4px solid white;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 0;
	right: 0;
	transition: all .2s ease-in-out;
}

.info__image {
	width: 381px;
	height: 238px;
	border-radius: 10px;
}