@use "../../../assets/styles/variables";

.block {
	margin-top: 90px;

	@media (max-width: 1800px) {
		margin-top: 60px;
	}
}

.content {

}

.cases {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	margin-top: 60px;

	a:nth-child(n+4) {
		margin-top: 30px;
	}
}
