@use "../../assets/styles/variables";

.feature {
	width: 420px;
	height: 130px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

.icon {
	width: 45px;
	height: 45px;
	margin-bottom: 10px;
}

.description {
	font-family: variables.$font-family-abel;
	font-weight: variables.$regular;
	color: variables.$color-dark;
	font-size: 20px;
	line-height: 120%;
	text-align: center;
}

.bracket {
	position: absolute;
	top: 0;
}

.bracket_left {
	left: -3px;
}

.bracket_right {
	right: -3px;
}