@use "../../../../assets/styles/variables";

.select {
	width: 100%;
	height: 30px;
	outline: none;
	color: variables.$color-dark;
	line-height: 120%;
	text-transform: lowercase;
	border: 1px solid transparent;
	border-bottom-color: variables.$color-dark;
	background: transparent;
}

.option {
	background-color: #f8fafb;

	&:checked {
		color: variables.$color-accent;
	}
}
