@use "../../../assets/styles/variables";

.subtitle {
	font-family: variables.$font-family-primary;
	font-weight: variables.$regular;
	color: variables.$color-dark;
	font-size: 20px;
	line-height: 120%;

	@media (max-width: 1800px) {
		font-size: 23px;
		margin-top: 5px;
	}

	@media (max-width: 1336px) {
		font-size: 14px;
	}
}