@use "../../assets/styles/variables.scss";

.block {
	margin-top: 20px;
}

.content {
	height: calc(100vh - 114px);
	position: relative;
}

.title {
	font-family: variables.$font-family-rubik;
	font-weight: variables.$extra-bold;
	color: variables.$color-dark;
	font-size: 447px;
	line-height: 530px;
	text-align: center;
	text-transform: uppercase;
	position: relative;

	&:after {
		content: "четыреста четыре";
		display: block;
		font-family: variables.$font-family-secondary;
		font-weight: variables.$bold;
		font-size: 86px;
		line-height: 120%;
		text-transform: lowercase;
		position: absolute;
		bottom: 10px;
		left: 50%;
		transform: translateX(-50%);
	}

	@media (max-width: 1800px) {
		font-size: 248px;
		line-height: 293px;

		&:after {
			font-size: 48px;
		}
	}

	@media (max-width: 1250px) {
		font-size: 154px;
		line-height: 183px;

		&:after {
			width: 250px;
			font-size: 30px;
			bottom: -40px;
		}
	}
}

.image {
	width: 1100px;
	height: 268px;
	position: absolute;
	bottom: 20px;
	left: 49%;
	z-index: -1;
	transform: translateX(-51%);

	@media (max-width: 1800px) {
		width: 800px;
		bottom: 80px;
	}

	@media (max-width: 1250px) {
		width: 350px;
		height: auto;
	}
}

.text {
	font-family: variables.$font-family-secondary;
	font-weight: variables.$regular;
	color: variables.$color-dark;
	font-size: 20px;
	line-height: 120%;
	position: absolute;
	left: 70px;
	bottom: 86px;

	@media (max-width: 1800px) {
		font-size: 23px;
		bottom: 35px;
	}

	@media (max-width: 1250px) {
		font-size: 14px;
		left: 15px;
		bottom: 20px;
	}
}