@use "../../assets/styles/variables.scss";

.block {
	margin-top: 90px;
}

.content {
	position: relative;
}

.titles_pc {
	display: block;

	@media (max-width: 1336px) {
		display: none;
	}
}

.titles_mobile {
	display: none;

	@media (max-width: 1336px) {
		display: block;
	}
}

.title_mobile {
	font-family: variables.$font-family-secondary;
	font-weight: variables.$bold;
	font-size: 30px;
	line-height: 120%;
	text-transform: uppercase;
}

.title_highlighting {
	color: variables.$color-accent;
}

.features {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	list-style: none;
	margin-top: 30px;

	@media (max-width: 1336px) {
		margin-top: 20px;
	}
}

.tangle {
	width: 1380px;
	height: 380px;
	position: absolute;
	top: 152px;
	right: 13px;
	z-index: 1;

	@media (max-width: 1800px) {
		width: 877px;
		height: 241px;
		top: 190px;
		right: 60px;
	}

	@media (max-width: 1336px) {
		display: none;
	}
}

.cup {
	width: 110px;
	height: 78px;
	position: absolute;
	top: 511px;
	left: 250px;
	transform: rotate(29deg);

	@media (max-width: 1800px) {
		width: 70px;
		height: 50px;
		top: 408px;
		left: 200px;
	}

	@media (max-width: 1336px) {
		display: none;
	}
}

.teapot {
	width: 182px;
	height: 195px;
	position: absolute;
	top: 540px;
	right: 100px;
	transform: rotate(-25deg);

	@media (max-width: 1800px) {
		width: 116px;
		height: 124px;
		top: 420px;
		right: 150px;
	}

	@media (max-width: 1336px) {
		display: none;
	}
}