@use "../../../../assets/styles/variables.scss";

.list {
	margin: 12px 0 12px 32px;

	@media (max-width: 1800px) {

	}
}

.item {
	font-family: variables.$font-family-primary;
	font-weight: variables.$regular;
	color: variables.$color-dark;
	font-size: 20px;
	line-height: 120%;
	margin-top: 8px;

	@media (max-width: 1800px) {
		font-size: 14px;
	}
}

.item_highlighting {
	font-weight: variables.$bold;
	text-transform: uppercase;
}