@use "../../../assets/styles/variables";

.block {
	width: 575px;
	height: 120px;
	position: relative;
	border-radius: 30px;
	background-color: #F7FAFC;
	padding: 40px;
	transition: all .2s ease-in-out;

	&:hover {
		top: 5px;
	}

	&:hover .shadow {
		top: 7px;
	}
}

.shadow {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 11px;
	left: -4px;
	z-index: -1;
	border-radius: 30px;
	background-color: #E9EEF1;
}

.block:nth-child(4) {
	width: 875px;
	margin-top: 30px;
}

.block:nth-child(5) {
	width: 875px;
	margin-top: 30px;
}

.text {
	font-family: variables.$font-family-abel;
	font-weight: variables.$regular;
	color: variables.$color-dark;
	font-size: 20px;
	line-height: 120%;
	white-space: pre-wrap;
}