@use "../../../assets/styles/variables";

.info {
	width: 420px;
	height: 130px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;

	@media (max-width: 1800px) {
		width: 330px;
	}

	@media (max-width: 1336px) {
		width: 100%;
		height: 70px;
		margin-top: 20px;
	}
}

.icon {
	width: 45px;
	height: 45px;
	margin-bottom: 10px;

	@media (max-width: 1336px) {
		width: 30px;
		height: 30px;
	}
}

.description {
	font-family: variables.$font-family-abel;
	font-weight: variables.$regular;
	color: variables.$color-dark;
	font-size: 20px;
	line-height: 120%;
	text-align: center;

	@media (max-width: 1800px) {
		font-size: 18px;
	}

	@media (max-width: 1336px) {
		font-size: 14px;
	}
}

.bracket {
	position: absolute;
	top: 0;

	@media (max-width: 1336px) {
		width: 17px;
		height: 70px;
	}
}

.bracket_left {
	left: -3px;
}

.bracket_right {
	right: -3px;
}