@use "../../assets/styles/variables.scss";

.block {
	margin-top: 90px;
}

.content {

}

.features {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin-top: 60px;
}