@use "../../assets/styles/variables.scss";

.block {
	margin-top: 40px;
}

.content {
	background-color: variables.$color-dark;
	border-radius: 40px;
	padding: 30px;
}

.features {
	background-color: white;
	border-radius: 20px;
	padding: 30px;
	margin-bottom: 60px;
	position: relative;
}

.title {
	font-family: variables.$font-family-abel;
	font-weight: variables.$regular;
	color: variables.$color-dark;
	font-size: 30px;
	line-height: 100%;
	margin-bottom: 40px;
}

.features__list {
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.tangle {
	width: 889px;
	height: 174px;
	position: absolute;
	top: -89px;
	right: 125px;
}

.thread {
	width: 808px;
	height: 75px;
	position: absolute;
	bottom: -62px;
	right: 194px;
}

.partners {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-bottom: 40px;
}

.partners__logo_megobari {
	width: 190px;
	height: 41px;
}

.partners__logo_ojahri {
	width: 192px;
	height: 105px;
}

.partners__logo_chief_tomorrow {
	width: 181px;
	height: 81px;
}

.partners__logo_touche {
	width: 145px;
	height: 103px;
}

.partners__logo_le_menu {
	width: 203px;
	height: 101px;
}

.description {
	font-family: variables.$font-family-abel;
	font-weight: variables.$regular;
	color: white;
	font-size: 20px;
	line-height: 120%;
	text-align: center;
}