@use "../../assets/styles/variables.scss";

.block {
	margin-top: 90px;
}

.content {

}

.blogs {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 60px;
}

.button {
	width: 64px;
	height: 64px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	background: none;
	border: none;
	cursor: pointer;
	transition: transform 0.8s ease-in-out,background-color 0.4s ease-in-out;
	margin-left: -22px;

	&:hover {
		background-color: variables.$color-accent;
		transform: rotate(360deg);
	}
}

.button_arrow {
	width: 42px;
	height: 42px;
}

.button_turn {
	transform: rotate(180deg);
	margin-left: 0;
	margin-right: -22px;

	&:hover {
		transform: rotate(-180deg);
	}
}

.link {
	width: 608px;
	margin: 60px auto 0;
	display: flex;
	position: relative;

	&:hover .link__text {
		background-image: url("../../assets/images/link_background-hover.svg");
	}

	&:hover .link__button {
		background-color: variables.$color-accent;
	}

	&:hover .link__arrow {
		transform: rotate(45deg);
	}
}

.link__text {
	width: 542px;
	height: 72px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-family: variables.$font-family-abel;
	font-weight: variables.$regular;
	color: white;
	font-size: 30px;
	line-height: 100%;
	background-image: url("../../assets/images/link_background.svg");
	background-repeat: no-repeat;
	background-position: center;
	padding-left: 40px;
	transition: all .2s ease-in-out;
}

.link__button {
	width: 72px;
	height: 72px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	right: 0;
	bottom: 0;
	border-radius: 100%;
	border: none;
	cursor: pointer;
	background-color: variables.$color-dark;
	transition: all .2s ease-in-out;
}

.link__arrow {
	width: 31px;
	height: 31px;
	transition: all .2s ease-in-out;
}