@use "../../../../assets/styles/variables.scss";

.block {
	display: grid;
	grid-template-columns: 45px 1fr;
	gap: 30px;
	font-family: variables.$font-family-primary;
	font-size: 30px;
	line-height: 100%;
	margin-bottom: 30px;

	@media (max-width: 1800px) {
		grid-template-columns: 30px 1fr;
		gap: 20px;
		font-size: 20px;
		margin-bottom: 20px;
	}

	@media (max-width: 1336px) {
		grid-template-columns: 1fr;
		gap: 15px;
		font-size: 14px;
		line-height: 120%;

	}
}

.number {

}

.text {

}