@use "assets/styles/variables.scss";

:root {
	color-scheme: light;
}

* {
	user-select: none;
}

*::selection {
	background-color: variables.$color-accent;
	color: white;
}

body::-webkit-scrollbar {
	width: 12px;
}
body::-webkit-scrollbar-track {
	background: variables.$color-dark;
}
body::-webkit-scrollbar-thumb {
	background-color: variables.$color-accent;
	border-radius: 20px;
	border: 3px solid variables.$color-dark;
}

