
$color-dark: #1E1E1E;
$color-accent: #FF7841;

$regular: 400;
$bold: 700;

$font-family-abel: "Abel", sans-serif;
$font-family-cygre: "Cygre", sans-serif;
//$font-family-abraxas: "Abraxas", sans-serif;
$font-family-akony: "AKONY", sans-serif;
//$font-family-cy-grotesk-grang: "Cy Grotesk Grand", sans-serif;