@font-face {
	font-family: "Abel";
	src: url("../fonts/abel.ttf") format('truetype');
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: "Cygre";
	src: url("../fonts/cygre_regular.ttf") format('truetype');
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: "Cygre";
	src: url("../fonts/cygre_bold.ttf") format('truetype');
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}

@font-face {
	font-family: "Cygre";
	src: url("../fonts/cygre_regular.ttf") format('truetype');
	font-style: normal;
	font-weight: 100;
	font-display: swap;
}

@font-face {
	font-family: "Rubik";
	src: url("../fonts/rubik.ttf") format('truetype');
	font-style: normal;
	font-weight: 100;
	font-display: swap;
}

