
$color-dark: #1E1E1E;
$color-accent: #FF7841;

$regular: 400;
$bold: 700;
$extra-bold: 800;

$font-family-abel: "Abel", sans-serif;
$font-family-cygre: "Cygre", sans-serif;
$font-family-rubik: "Rubik", sans-serif;