@use "../../../../assets/styles/variables.scss";

.label {
	display: flex;
	flex-direction: column;
	font-family: variables.$font-family-primary;
	font-weight: variables.$regular;
	color: variables.$color-dark;
	font-size: 20px;
	line-height: 25px;
	text-transform: uppercase;

	@media (max-width: 1800px) {
		font-size: 18px;
		line-height: 23px;
	}

	@media (max-width: 1336px) {
		font-size: 12px;
		line-height: 15px;
	}
}